<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burgerstyle.css" type="text/css" />
    <title>Kofi's Burger Joint</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgerscript.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>